In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# import zipfile
# import os

# # Ganti path ini dengan lokasi file zip kamu
# zip_path = '/content/drive/MyDrive/home-credit/home-credit-default-risk.zip'

# # Ganti path ini dengan folder tujuan ekstraksi
# extract_to = '/content/drive/MyDrive/virtual-magang'

# # Membuat folder tujuan jika belum ada
# os.makedirs(extract_to, exist_ok=True)

# # Ekstrak file zip
# with zipfile.ZipFile(zip_path, 'r') as zip_ref:
#     zip_ref.extractall(extract_to)

# print(f'File diekstrak ke: {extract_to}')

In [3]:
import pandas as pd

In [4]:
data_test = pd.read_csv('/content/drive/MyDrive/virtual-magang/application_test.csv')
data_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [5]:
data_train = pd.read_csv('/content/drive/MyDrive/virtual-magang/application_train.csv')
data_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [6]:
data_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [7]:
data_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [8]:
data_train.shape

(307511, 122)

In [9]:
print(data_train.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [10]:
# Tampilkan semua nama kolom
print(data_train.columns.tolist())

['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [11]:
data_train['TARGET']

0         1
1         0
2         0
3         0
4         0
         ..
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64

In [12]:
desc = pd.read_csv('/content/drive/MyDrive/virtual-magang/HomeCredit_columns_description.csv', encoding='latin1')
desc

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...,...
214,217,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,218,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,219,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,220,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,221,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

In [13]:
hist = pd.read_csv('/content/drive/MyDrive/virtual-magang/bureau.csv')
hist

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,0.0,Microloan,-387,NaN

In [14]:
imbang = pd.read_csv('/content/drive/MyDrive/virtual-magang/bureau_balance.csv')
imbang

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [15]:
credit = pd.read_csv('/content/drive/MyDrive/virtual-magang/credit_card_balance.csv')
credit

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0

In [16]:
data_train.duplicated().sum()

np.int64(0)

In [17]:
data_train.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [18]:
data_train.shape

(307511, 122)

In [19]:
data_train['TARGET'].value_counts()

TARGET
0    282686
1     24825
Name: count, dtype: int64

In [20]:
data_train.dropna()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
71,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
124,100145,0,Cash loans,F,Y,Y,1,202500.0,260725.5,16789.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
152,100179,0,Cash loans,F,Y,N,0,202500.0,675000.0,53329.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
161,100190,0,Cash loans,M,Y,N,0,162000.0,263686.5,24781.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
255,100295,1,Cash loans,M,Y,N,1,225000.0,1019205.0,31032.0,...,1,0,0,0,0.0,0.0,0.0,6.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307358,456083,0,Cash loans,F,Y,Y,2,112500.0,361462.5,16051.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307359,456084,0,Cash loans,F,Y,Y,1,99000.0,675000.0,21906.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307407,456140,1,Cash loans,F,Y,Y,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307456,456195,0,Cash loans,F,Y,Y,0,94500.0,270000.0,15075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,Cash loans,F,Y,Y,0,225000.0,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

In [21]:
orilatih = data_train.copy()

In [22]:
data_train = data_train.dropna()

In [23]:
data_train.shape

(8602, 122)

In [24]:
orilatih.shape

(307511, 122)

In [25]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Misalnya df_interpolated sudah kamu dapatkan dari interpolasi sebelumnya
# df_interpolated = df.interpolate(...)

df_encoded = orilatih.copy()

# Inisialisasi LabelEncoder
le = LabelEncoder()

# Iterasi pada setiap kolom bertipe objek (kategorikal)
for col in df_encoded.select_dtypes(include='object').columns:
    df_encoded[col] = le.fit_transform(df_encoded[col].astype(str))

# Cek hasil
print(df_encoded.head())

   SK_ID_CURR  TARGET  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  \
0      100002       1                   0            1             0
1      100003       0                   0            0             0
2      100004       0                   1            1             1
3      100006       0                   0            0             0
4      100007       0                   0            1             0

   FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                1             0          202500.0    406597.5      24700.5
1                0             0          270000.0   1293502.5      35698.5
2                1             0           67500.0    135000.0       6750.0
3                1             0          135000.0    312682.5      29686.5
4                1             0          121500.0    513000.0      21865.5

   ...  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  \
0  ...                 0                 0                 0
1  ...                 0                 0                 0
2  ...                 0                 0                 0
3  ...                 0                 0                 0
4  ...                 0                 0                 0

   FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                 0                         0.0                        0.0
1                 0                         0.0                        0.0
2                 0                         0.0                        0.0
3                 0                         NaN                        NaN
4                 0                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        0.0                         1.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        NaN                         NaN
4                        0.0                         0.0

[5 rows x 122 columns]

In [26]:
import pandas as pd

# Asumsikan orilatih sudah didefinisikan sebelumnya
df_interpolated = df_encoded.copy()

# Interpolasi nilai NaN pada kolom numerik
df_interpolated = df_interpolated.interpolate(method='linear', axis=0, limit_direction='forward')

# Cek jumlah nilai NaN per kolom
null_summary = df_interpolated.isnull().sum()

# Cetak hasilnya
if null_summary.sum() == 0:
    print("✅ Semua nilai NaN berhasil diisi setelah interpolasi.")
else:
    print("⚠️ Masih terdapat nilai NaN setelah interpolasi pada kolom berikut:")
    print(null_summary[null_summary > 0])

⚠️ Masih terdapat nilai NaN setelah interpolasi pada kolom berikut:
OWN_CAR_AGE    2
dtype: int64

In [27]:
df = df_interpolated.drop(columns=['OWN_CAR_AGE'])

In [29]:
df['TARGET']

0         1
1         0
2         0
3         0
4         0
         ..
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from imblearn.over_sampling import SMOTE
import pandas as pd

# Asumsikan df sudah di-handle missing values
# dan TARGET adalah nama kolom target

# 1. Identifikasi kolom numerik murni
numeric_cols = df.select_dtypes(include='number').columns.tolist()
numeric_cols.remove('TARGET')  # pastikan kolom target tidak ikut dinormalisasi
numeric_to_scale = numeric_cols.copy()

# 2. Pisahkan fitur dan label
X = df.drop(columns=['TARGET'])
y = df['TARGET']

# 3. Split data
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)

# 4. Normalisasi
scaler = MinMaxScaler()
X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])

# 5. SMOTE
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

# 6. Cek distribusi
print("Sebelum SMOTE:\n", y_train.value_counts())
print("Sesudah SMOTE:\n", y_train_resampled.value_counts())

/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.59096766 0.74529618 0.39874191 ... 0.80704162 0.57074326 0.92702939]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.  0.5 0.5 ... 0.  0.  0. ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.10526316 0.         0.         ... 0.         0.         0.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.85714286 0.85714286 0.71428571 ... 0.85714286 0.         0.14285714]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.14285714 0.14285714 1.         ... 0.42857143 0.42857143 0.42857143]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.25 1.   1.   ... 1.   1.   1.  ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.2 0.2 0.6 ... 0.  0.2 0.2]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.2 0.2 0.2 ... 0.2 0.2 0.2]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.7289177  0.55546787 0.33382187 ... 0.12068771 0.17367531 0.17756483]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.04427973 0.04650859 0.04245279 ... 1.         1.         1.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.35111852 0.72294011 0.60511324 ... 0.35584271 0.35584271 0.40725302]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.44444444 0.22222222 0.44444444 ... 1.         1.         1.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.5 1.  1.  ... 0.5 1.  0.5]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.5 1.  0.5 ... 0.5 1.  0.5]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.         0.83333333 0.83333333 ... 0.5        1.         0.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.43478261 0.56521739 0.2173913  ... 0.47826087 0.39130435 0.52173913]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.07017544 0.57894737 0.0877193  ... 1.         1.         1.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.75 0.   1.   ... 0.75 0.   0.  ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.         0.33333333 0.         ... 0.         0.33333333 0.33333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.57142857 1.         0.57142857 ... 0.14285714 1.         1.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 1. 0. ... 0. 1. 1.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numeric_to_scale] = scaler.fit_transform(X_train[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.83338807 0.62326212 0.33719014 ... 0.76209604 0.48500083 0.87457228]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.5 0.  0.5 ... 0.  0.5 0.5]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.05263158 0.         0.         ... 0.05263158 0.         0.05263158]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.14285714 0.14285714 0.85714286 ... 0.85714286 0.85714286 0.14285714]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.         1.         1.         ... 1.         1.         0.14285714]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.25 1.   1.   ... 0.25 0.5  1.  ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.2 0.2 0.  ... 0.2 0.6 0.2]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.2 0.2 0.2 ... 0.2 0.2 0.2]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.660823   0.42311161 0.05800451 ... 0.66854566 0.78156708 0.47784667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.04647466 0.03388185 0.0436403  ... 0.04363247 0.04391434 0.04359593]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.38835626 0.825066   0.65624566 ... 0.6088648  0.44546339 0.95817702]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.44444444 0.44444444 0.88888889 ... 0.         1.         0.22222222]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.5 0.5 0.5 ... 0.5 0.5 0.5]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.5 0.5 0.5 ... 0.5 0.5 0.5]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.16666667 0.66666667 0.66666667 ... 0.33333333 0.         0.66666667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.73913043 0.52173913 0.17391304 ... 0.43478261 0.60869565 0.65217391]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.96491228 0.19298246 0.36842105 ... 0.07017544 0.0877193  0.12280702]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.33333333 0.33333333 0.         ... 0.33333333 0.33333333 0.33333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.         1.         0.57142857 ... 1.         1.         1.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])
/tmp/ipython-input-30-1751222938.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1. 1. 0. ... 0. 1. 1.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numeric_to_scale] = scaler.transform(X_test[numeric_to_scale])

Sebelum SMOTE:
 TARGET
0    226148
1     19860
Name: count, dtype: int64
Sesudah SMOTE:
 TARGET
0    226148
1    226148
Name: count, dtype: int64

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# 1. Logistic Regression
logreg = LogisticRegression(max_iter=1000, random_state=42)
logreg.fit(X_train_resampled, y_train_resampled)
y_pred_logreg = logreg.predict(X_test)

print("\n=== Logistic Regression ===")
print("Accuracy:", accuracy_score(y_test, y_pred_logreg))
print(confusion_matrix(y_test, y_pred_logreg))
print(classification_report(y_test, y_pred_logreg))

# 2. Decision Tree
dtree = DecisionTreeClassifier(random_state=42)
dtree.fit(X_train_resampled, y_train_resampled)
y_pred_dtree = dtree.predict(X_test)

print("\n=== Decision Tree ===")
print("Accuracy:", accuracy_score(y_test, y_pred_dtree))
print(confusion_matrix(y_test, y_pred_dtree))
print(classification_report(y_test, y_pred_dtree))

# 3. Naive Bayes
nb = GaussianNB()
nb.fit(X_train_resampled, y_train_resampled)
y_pred_nb = nb.predict(X_test)

print("\n=== Naive Bayes ===")
print("Accuracy:", accuracy_score(y_test, y_pred_nb))
print(confusion_matrix(y_test, y_pred_nb))
print(classification_report(y_test, y_pred_nb))

=== Logistic Regression ===
Accuracy: 0.6886655935482822
[[39131 17407]
 [ 1741  3224]]
              precision    recall  f1-score   support

           0       0.96      0.69      0.80     56538
           1       0.16      0.65      0.25      4965

    accuracy                           0.69     61503
   macro avg       0.56      0.67      0.53     61503
weighted avg       0.89      0.69      0.76     61503


=== Decision Tree ===
Accuracy: 0.8350974749199226
[[50478  6060]
 [ 4082   883]]
              precision    recall  f1-score   support

           0       0.93      0.89      0.91     56538
           1       0.13      0.18      0.15      4965

    accuracy                           0.84     61503
   macro avg       0.53      0.54      0.53     61503
weighted avg       0.86      0.84      0.85     61503


=== Naive Bayes ===
Accuracy: 0.1763816399200039
[[ 6276 50262]
 [  393  4572]]
              precision    recall  f1-score   support

           0       0.94      0.11      0.20     56538
           1       0.08      0.92      0.15      4965

    accuracy                           0.18     61503
   macro avg       0.51      0.52      0.18     61503
weighted avg       0.87      0.18      0.19     61503

In [35]:
from sklearn.tree import DecisionTreeClassifier
import joblib  # untuk ekspor model

# 1. Inisialisasi dan training model Decision Tree
dtree = DecisionTreeClassifier(random_state=42)
dtree.fit(X_train_resampled, y_train_resampled)

# 2. Prediksi di test set (opsional evaluasi)
y_pred_dtree = dtree.predict(X_test)

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print("Akurasi:", accuracy_score(y_test, y_pred_dtree))
print(confusion_matrix(y_test, y_pred_dtree))
print(classification_report(y_test, y_pred_dtree))

# 3. Ekspor model ke file .pkl
joblib.dump(dtree, 'decision_tree_model.pkl')
print("Model berhasil disimpan ke 'decision_tree_model.pkl'")

Akurasi: 0.8350974749199226
[[50478  6060]
 [ 4082   883]]
              precision    recall  f1-score   support

           0       0.93      0.89      0.91     56538
           1       0.13      0.18      0.15      4965

    accuracy                           0.84     61503
   macro avg       0.53      0.54      0.53     61503
weighted avg       0.86      0.84      0.85     61503

Model berhasil disimpan ke 'decision_tree_model.pkl'

In [37]:
data_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [38]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Misalnya df_interpolated sudah kamu dapatkan dari interpolasi sebelumnya
# df_interpolated = df.interpolate(...)

df_encoded_test = data_test.copy()

# Inisialisasi LabelEncoder
le = LabelEncoder()

# Iterasi pada setiap kolom bertipe objek (kategorikal)
for col in df_encoded_test.select_dtypes(include='object').columns:
    df_encoded_test[col] = le.fit_transform(df_encoded_test[col].astype(str))

# Cek hasil
print(df_encoded_test.head())

   SK_ID_CURR  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  \
0      100001                   0            0             0                1
1      100005                   0            1             0                1
2      100013                   0            1             1                1
3      100028                   0            0             0                1
4      100038                   0            1             1                0

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0

   ...  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  \
0  ...                 0                 0                 0
1  ...                 0                 0                 0
2  ...                 0                 0                 0
3  ...                 0                 0                 0
4  ...                 0                 0                 0

   FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                 0                         0.0                        0.0
1                 0                         0.0                        0.0
2                 0                         0.0                        0.0
3                 0                         0.0                        0.0
4                 0                         NaN                        NaN

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         0.0                        0.0
4                         NaN                        NaN

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        0.0                         0.0
1                        0.0                         3.0
2                        1.0                         4.0
3                        0.0                         3.0
4                        NaN                         NaN

[5 rows x 121 columns]

In [39]:
import pandas as pd

# Asumsikan orilatih sudah didefinisikan sebelumnya
df_interpolated_test = df_encoded_test.copy()

# Interpolasi nilai NaN pada kolom numerik
df_interpolated_test = df_interpolated_test.interpolate(method='linear', axis=0, limit_direction='forward')

# Cek jumlah nilai NaN per kolom
null_summary_test = df_interpolated_test.isnull().sum()

# Cetak hasilnya
if null_summary_test.sum() == 0:
    print("✅ Semua nilai NaN berhasil diisi setelah interpolasi.")
else:
    print("⚠️ Masih terdapat nilai NaN setelah interpolasi pada kolom berikut:")
    print(null_summary_test[null_summary_test > 0])

⚠️ Masih terdapat nilai NaN setelah interpolasi pada kolom berikut:
OWN_CAR_AGE                 2
YEARS_BUILD_AVG             3
COMMONAREA_AVG              3
ELEVATORS_AVG               3
FLOORSMIN_AVG               3
LANDAREA_AVG                3
LIVINGAPARTMENTS_AVG        3
NONLIVINGAPARTMENTS_AVG     3
NONLIVINGAREA_AVG           3
YEARS_BUILD_MODE            3
COMMONAREA_MODE             3
ELEVATORS_MODE              3
FLOORSMIN_MODE              3
LANDAREA_MODE               3
LIVINGAPARTMENTS_MODE       3
NONLIVINGAPARTMENTS_MODE    3
NONLIVINGAREA_MODE          3
YEARS_BUILD_MEDI            3
COMMONAREA_MEDI             3
ELEVATORS_MEDI              3
FLOORSMIN_MEDI              3
LANDAREA_MEDI               3
LIVINGAPARTMENTS_MEDI       3
NONLIVINGAPARTMENTS_MEDI    3
NONLIVINGAREA_MEDI          3
dtype: int64

In [40]:
df_test = df_interpolated_test.drop(columns=['OWN_CAR_AGE'])

In [41]:
# 1. Daftar kolom yang akan diisi null-nya dengan median
median_fill_cols = [
    'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'FLOORSMIN_AVG',
    'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
    'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'FLOORSMIN_MODE',
    'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
    'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'FLOORSMIN_MEDI',
    'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI'
]

# 2. Isi nilai kosong dengan median dari masing-masing kolom
for col in median_fill_cols:
    if col in df_test.columns:
        median_value = df_test[col].median()
        df_test[col].fillna(median_value, inplace=True)

/tmp/ipython-input-41-2320572661.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test[col].fillna(median_value, inplace=True)

In [42]:
from sklearn.preprocessing import MinMaxScaler

# 1. Salin dataframe tes
df_test_normalized = df_test.copy()

# 2. Deteksi kolom yang sebelumnya bertipe objek (kolom yang telah di-label encode)
# Ini harus dilakukan pada data sebelum encoding, tapi kita bisa anggap kamu punya daftarnya dari data latih:
label_encoded_cols = orilatih.select_dtypes(include='object').columns.tolist()

# 3. Identifikasi semua kolom numerik di df_test
numeric_cols = df_test_normalized.select_dtypes(include='number').columns.tolist()

# 4. Tentukan kolom yang akan dinormalisasi (numerik tapi bukan hasil label encoding)
cols_to_scale = [col for col in numeric_cols if col not in label_encoded_cols]

# 5. Normalisasi dengan MinMaxScaler
scaler = MinMaxScaler()
df_test_normalized[cols_to_scale] = scaler.fit_transform(df_test_normalized[cols_to_scale])

# 6. Cek hasil
print(df_test_normalized.head())

   SK_ID_CURR  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  \
0    0.000000                   0            0             0                1
1    0.000011                   0            1             0                1
2    0.000034                   0            1             1                1
3    0.000076                   0            0             0                1
4    0.000104                   0            1             1                0

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0          0.00          0.024654    0.238037     0.102453         0.184049
1          0.00          0.016440    0.080785     0.084558         0.061350
2          0.00          0.040054    0.280965     0.378515         0.265849
3          0.10          0.065721    0.695297     0.262078         0.695297
4          0.05          0.034920    0.263804     0.166995         0.263804

   ...  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  \
0  ...               0.0               0.0               0.0
1  ...               0.0               0.0               0.0
2  ...               0.0               0.0               0.0
3  ...               0.0               0.0               0.0
4  ...               0.0               0.0               0.0

   FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0               0.0                         0.0                        0.0
1               0.0                         0.0                        0.0
2               0.0                         0.0                        0.0
3               0.0                         0.0                        0.0
4               0.0                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         0.0                        0.0
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                   0.000000                    0.000000
1                   0.000000                    0.176471
2                   0.142857                    0.235294
3                   0.000000                    0.176471
4                   0.071429                    0.147059

[5 rows x 120 columns]

In [43]:
import joblib

# 1. Muat model dari file pkl
model = joblib.load('decision_tree_model.pkl')

# 2. Lakukan prediksi
# (Pastikan df_test_normalized sudah memiliki kolom-kolom yang sesuai dengan training)
y_pred = model.predict(df_test_normalized)

# 3. Tambahkan hasil prediksi sebagai kolom baru
df_test_normalized['Target'] = y_pred

# 4. (Opsional) Cek hasil
print(df_test_normalized[['Target']].head())

   Target
0       0
1       1
2       1
3       0
4       1

/tmp/ipython-input-43-2071853466.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_test_normalized['Target'] = y_pred

In [45]:
df_test_normalized['Target'].value_counts()

Target
1    38813
0     9931
Name: count, dtype: int64

In [46]:
# Asumsikan df_test_normalized adalah dataframe setelah normalisasi
# Dan scaler adalah scaler yang telah di-fit dari data training

df_test_original = df_test_normalized.copy()
df_test_original[cols_to_scale] = scaler.inverse_transform(df_test_original[cols_to_scale])

# Cek hasil
print(df_test_original.head())

   SK_ID_CURR  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  \
0    100001.0                   0            0             0                1
1    100005.0                   0            1             0                1
2    100013.0                   0            1             1                1
3    100028.0                   0            0             0                1
4    100038.0                   0            1             1                0

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0           0.0          135000.0    568800.0      20560.5         450000.0
1           0.0           99000.0    222768.0      17370.0         180000.0
2           0.0          202500.0    663264.0      69777.0         630000.0
3           2.0          315000.0   1575000.0      49018.5        1575000.0
4           1.0          180000.0    625500.0      32067.0         625500.0

   ...  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  \
0  ...               0.0               0.0               0.0
1  ...               0.0               0.0               0.0
2  ...               0.0               0.0               0.0
3  ...               0.0               0.0               0.0
4  ...               0.0               0.0               0.0

   AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         0.0                        0.0
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         0.0                        0.0
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR  Target
0                        0.0                         0.0       0
1                        0.0                         3.0       1
2                        1.0                         4.0       1
3                        0.0                         3.0       0
4                        0.5                         2.5       1

[5 rows x 121 columns]

In [47]:
df_test_original['Target']

0        0
1        1
2        1
3        0
4        1
        ..
48739    1
48740    1
48741    1
48742    1
48743    1
Name: Target, Length: 48744, dtype: int64

In [48]:
df_test_original.to_csv('Hasil_Predik.csv')